<div class="col-xl-8 col-xl-offset-2 col-xs-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
            <li class="breadcrumb-item active" aria-current="page">Strona płatności</li>
        </ol>
    </nav>
    <div id="cart">
        {{> (getTheme 'cart')}}
    </div>
</div>