{{> partials/menu}}
<div class="col-lg-9">
    <div class="col-lg-12">
	{{#ifCond session.isAdmin '===' true}}
		{{/ifCond}}
    </div>
    <div class="col-lg-12 search_bar">
    </div>

    <div class="col-lg-12 top-pad-10">
	{{#ifCond session.isAdmin '===' true}}
		Witamy administratora
        <ul class="list-group">
			{{#each orders}}
				<li class="list-group-item">
						1
				<li>
			{{/each}}
		</ul>
	{{/ifCond}}
	</div>
</div>