<div class="col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4" style="padding-top: 100px" >
	<button class="btn btn-lg btn-primary btn-block" id="loginForm" type="submit">{{ @root.__ "Sign in" }}</button>
</div>